
#profileCard {
  width: 4px;
  padding: 10px;
  border: 3px solid black;
  margin: 11px;
  background-color: yellow;
}

.Name {
  font-size: 5px;
  font-weight: bold;
  text-align: center;
}

.Bio {
  font-size: 5px;
  color: pink;
  text-align: center;
}

img {
  width: 5px;
  border-radius: 5px;
}


